<section class="header">
  <div class="row header-flex">
    <div class="three columns header-photo">
      <img id="profile-pic" class="u-max-full-width" src="{{ '/assets/profile-pics/photo1.jpg' | relative_url }}" alt="Profile Picture">
    </div>

    <div class="nine columns header-info">
      <p class="position">PhD Candidate in Geospatial Data Science, University of Glasgow</p>
      <p class="email">yu.wang [at] glasgow.ac.uk</p>
      <p class="social">
        <span onclick="window.open('https://www.linkedin.com/in/your-linkedin')" style="cursor:pointer;">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </span>
        <span onclick="window.open('https://scholar.google.com/citations?user=YOURID')" style="cursor:pointer;">
          <i class="ai ai-google-scholar" aria-hidden="true"></i>
        </span>
        <span onclick="window.open('https://github.com/ywang-twocities')" style="cursor:pointer;">
          <i class="fa fa-github" aria-hidden="true"></i>
        </span>
      </p>
    </div>
  </div>
</section>

<!-- Navigation -->
<nav class="navbar">
  <ul class="navbar-list">
    <li><a href="/">Home</a></li>
    <li><a href="#bio">Bio</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#publications">Publications</a></li>
    <li><a href="#cv">CV</a></li>
  </ul>
</nav>
